@import 'tailwindcss';
@import './../../../../../../styles.css';

.menu-bar-wrapper {
  @apply px-4 py-3 tablet:px-8 tablet:py-3 flex justify-around shadow-[0_-4px_6px_0_#f0f0f099];
}

.menu-bar-item {
  @apply py-1 flex flex-col items-center flex-1 tablet:flex-0 tablet:basis-20 gap-1 cursor-pointer hover:bg-neutral-100 rounded-sm;
}

.menu-bar-item-icon {
  @apply w-6 h-6;
}

.menu-bar-item-name {
  @apply hidden tablet:flex text-preset-6 text-neutral-600;
}

.divisor {
  @apply hidden tablet:block border-l border-l-neutral-100;
}
