@import 'tailwindcss';
@import './../../../../../../styles.css';

.header {
  @apply flex-1;
}

.page-header-wrapper-mobile-tablet {
  @apply flex-1 h-[81px] flex items-center desktop:hidden bg-neutral-100;
}

.logo-wrapper {
  @apply basis-full px-8 py-4 flex items-center;
}

.page-header-wrapper-desktop {
  @apply flex-1 h-[81px] px-8 hidden desktop:flex items-center justify-between;
}

.page-header-title {
  @apply text-preset-1;
}

.input-settings-icon-wrapper {
  @apply flex items-center gap-4;
}

.input-wrapper {
  @apply relative w-[325px];
}

.input {
  @apply w-full pl-10.5 pr-4 py-3;
}

.search-icon {
  @apply absolute top-1/2 left-4 -translate-y-1/2;
}

.settings-icon-wrapper {
  @apply w-11 h-11 flex items-center cursor-pointer;
}

.settings-icon {
  @apply w-6 h-6;
}
