@import 'tailwindcss';
@import './../../../../../../../styles.css';

.tags-wrapper {
  @apply flex-1 flex flex-col gap-1 overflow-y-auto;
}

.sidebar-navigation-list-item {
  @apply flex items-center gap-2 px-3 py-2 hover:bg-neutral-100 rounded-lg cursor-pointer;
}

.sidebar-navigation-list-item-icon-wrapper {
  @apply w-5 h-5;
}

.sidebar-navigation-list-item-icon {
  @apply w-full h-auto;
}

.sidebar-navigation-list-item-text {
  @apply flex-1 text-preset-4;
}

.sidebar-navigation-list-item-right-arrow-wrapper {
  @apply w-1.5 h-2.5;
}

.sidebar-navigation-list-item-right-arrow {
  @apply w-full h-auto;
}
