@import 'tailwindcss';
@import './../../../../../../styles.css';

.sidebar-all-notes-wrapper {
  @apply flex flex-col gap-4 relative h-full;
}

.desktop {
  @apply hidden desktop:block;
}

.mobile-tablet {
  @apply desktop:hidden fixed bottom-5 right-4 z-10 rounded-full w-12 h-12 tablet:w-16 tablet:h-16 flex justify-center items-center p-0;
}

.icon {
  @apply w-8 h-8;
}

.sidebar-all-notes-list {
  @apply flex flex-col gap-1;
}

.sidebar-all-notes-list-item {
  @apply p-2 flex flex-col gap-3 rounded-md hover:bg-neutral-100 cursor-pointer;
}

.note-title {
  @apply text-preset-3;
}

.note-tags-wrapper {
  @apply flex gap-1 flex-wrap;
}

.tag {
  @apply rounded-sm px-1.5 py-0.5 text-neutral-950 text-preset-6 bg-neutral-200;
}

.note-updated-at {
  @apply text-neutral-700 text-preset-6;
}
