@import 'tailwindcss';
@import './../../../../../../styles.css';

.sidebar-all-notes-wrapper {
  @apply pl-8 pr-4 py-5 flex flex-col gap-4 relative h-full overflow-y-auto;
}

.desktop {
  @apply hidden desktop:block;
}

.mobile-tablet {
  @apply desktop:hidden fixed bottom-[72px] tablet:bottom-[106px] right-4 tablet:right-[35px] z-10 rounded-full w-12 h-12 tablet:w-16 tablet:h-16 flex justify-center items-center p-0;
}

.icon {
  @apply w-8 h-8;
}

.title {
  @apply text-preset-1;
}

.sidebar-all-notes-list {
  @apply flex flex-col gap-1;
}

.results-text {
  @apply text-preset-5;
}

.sidebar-all-notes-list-item {
  @apply p-2 flex flex-col gap-3 rounded-md hover:bg-neutral-100 cursor-pointer;
}

.note-title {
  @apply text-preset-3;
}

.note-tags-wrapper {
  @apply flex gap-1 flex-wrap;
}

.tag {
  @apply rounded-sm px-1.5 py-0.5 text-neutral-950 text-preset-6 bg-neutral-200;
}

.note-updated-at {
  @apply text-neutral-700 text-preset-6;
}

.input-wrapper {
  @apply relative block desktop:hidden;
}

.input {
  @apply w-full pl-10.5 pr-4 py-3;
}

.search-icon {
  @apply absolute top-1/2 left-4 -translate-y-1/2;
}
