<div class="sidebar-all-notes-wrapper">
  <button class="button primary-button desktop">+ Crear nota</button>
  <button class="button primary-button mobile-tablet">
    <img src="images/icon-plus-white.svg" alt="Icono de crear" class="icon" />
  </button>
  <ul class="sidebar-all-notes-list">
    @for (note of notes(); track $index) {
    <li
      class="sidebar-all-notes-list-item"
      [class.bg-neutral-100]="note.uuid === selectedNoteUuid"
      (click)="noteOutput.emit(note); selectedNoteUuid = note.uuid"
    >
      <h3 class="note-title">{{ note.title }}</h3>
      <div class="note-tags-wrapper">
        @for (tag of note.tags; track $index) {
        <span class="tag">{{ tag }}</span
        >}
      </div>
      <div class="note-updated-at">{{ note.updated_at | date : 'mediumDate' }}</div>
    </li>
    @if ($index + 1 < notes().length) {
    <hr class="text-neutral-200" />
    } }
  </ul>
</div>
