<div class="sidebar-all-notes-wrapper">
  <button class="button primary-button desktop">+ Crear nota</button>
  <button class="button primary-button mobile-tablet">
    <img src="images/icon-plus-white.svg" alt="Icono de crear" class="icon" />
  </button>
  @if (title().split(': ').length === 2) {
  <h2 class="title text-neutral-600">
    {{ title().split(': ')[0] }}:
    <span class="text-neutral-950">{{ title().split(': ')[1] }}</span>
  </h2>
  } @else {
  <h2 class="title text-neutral-950">{{ title() }}</h2>
  } @if (showSearchBar()) {
  <div class="input-wrapper">
    <input type="text" class="input" placeholder="Busca por título, contenido, etiquetas..." />
    <img src="images/icon-search.svg" alt="Icono de búsqueda" class="search-icon" />
  </div>
  }

  <ul class="sidebar-all-notes-list">
    @if (showSearchBar() && searchText) {
    <p class="results-text text-neutral-700">
      Todas las notas que coinciden con
      <span class="text-neutral-950">{{ '"' + searchText + '"' }}</span> se muestran abajo.
    </p>
    } @for (note of editedNotes; track $index) {
    <li
      class="sidebar-all-notes-list-item"
      [class.bg-neutral-100]="note.uuid === selectedNoteUuid"
      (click)="noteOutput.emit(note); selectedNoteUuid = note.uuid"
    >
      <h3 class="note-title">{{ note.title }}</h3>
      <div class="note-tags-wrapper">
        @for (tag of note.tags; track $index) {
        <span class="tag">{{ tag }}</span
        >}
      </div>
      <div class="note-updated-at">{{ note.updated_at | date : 'mediumDate' }}</div>
    </li>
    @if ($index + 1 < notes().length) {
    <hr class="text-neutral-200" />
    } }
  </ul>
</div>
