@import 'tailwindcss';
@import './../../../../styles.css';

.notes-wrapper {
  @apply flex-1 h-screen flex flex-col overflow-hidden;
}

app-page-header {
  @apply flex desktop:border-b desktop:border-b-neutral-200;
}

.sidebar-all-notes-content-sidebar-right-menu-wrapper-desktop {
  @apply flex-1 hidden desktop:flex items-stretch overflow-hidden;
}

.sidebar-all-notes-content-sidebar-right-menu-wrapper-mobile-tablet {
  @apply flex-1 flex flex-col desktop:hidden items-stretch h-[calc(100vh-81px)];
}

app-sidebar-all-notes {
  @apply basis-full desktop:basis-[272px] pl-8 pr-4 py-5 flex flex-col gap-4 desktop:border-r desktop:border-r-neutral-200 overflow-y-auto h-full;
}

app-content {
  @apply flex-1 flex items-stretch;
}

app-sidebar-right-menu {
  @apply basis-[258px] px-4 py-5 flex items-stretch gap-3 border-l border-l-neutral-200;
}
