@import 'tailwindcss';
@import './../../../../styles.css';

.notes-wrapper {
  @apply flex-1 flex flex-col h-screen;
}

app-page-header {
  @apply flex border-b border-b-neutral-200;
}

.sidebar-all-notes-content-sidebar-right-menu-wrapper {
  @apply flex-1 flex items-stretch;
}

app-sidebar-all-notes {
  @apply basis-[272px] pl-8 pr-4 py-5 flex items-stretch gap-4 border-r border-r-neutral-200;
}

app-content {
  @apply flex-1 flex items-stretch;
}

app-sidebar-right-menu {
  @apply basis-[258px] px-4 py-5 flex items-stretch gap-3 border-l border-l-neutral-200;
}
