<div class="sidebar-navigation-wrapper">
  <div class="logo-wrapper">
    <img src="images/logo.svg" alt="Logo de Notes" />
  </div>
  <ul class="sidebar-navigation-list">
    <div class="active-archived-notes-wrapper">
      <li
        class="sidebar-navigation-list-item"
        [class.bg-neutral-100]="selectedTag === '$$HOME'"
        (click)="selectedTag = '$$HOME'; activeNotesOutput.emit()"
      >
        <div class="sidebar-navigation-list-item-icon-wrapper">
          <img
            [src]="'images/icon-home' + (selectedTag === '$$HOME' ? '-blue-500' : '') + '.svg'"
            alt=""
            class="sidebar-navigation-list-item-icon"
          />
        </div>
        <p class="sidebar-navigation-list-item-text">Todas las notas</p>
        @if (selectedTag === '$$HOME') {
        <div class="sidebar-navigation-list-item-right-arrow-wrapper">
          <img
            src="images/icon-arrow-right.svg"
            alt="Icono de flecha derecha"
            class="sidebar-navigation-list-item-right-arrow"
          />
        </div>
        }
      </li>
      <li
        class="sidebar-navigation-list-item"
        [class.bg-neutral-100]="selectedTag === '$$ARCHIVE'"
        (click)="selectedTag = '$$ARCHIVE'; archivedNotesOutput.emit()"
      >
        <div class="sidebar-navigation-list-item-icon-wrapper">
          <img
            [src]="
              'images/icon-archive' + (selectedTag === '$$ARCHIVE' ? '-blue-500' : '') + '.svg'
            "
            alt="Icono de archivar"
            class="sidebar-navigation-list-item-icon"
          />
        </div>
        <p class="sidebar-navigation-list-item-text">Notas archivadas</p>
        @if (selectedTag === '$$ARCHIVE') {
        <div class="sidebar-navigation-list-item-right-arrow-wrapper">
          <img
            src="images/icon-arrow-right.svg"
            alt="Icono de flecha derecha"
            class="sidebar-navigation-list-item-right-arrow"
          />
        </div>
        }
      </li>
    </div>
    <hr class="text-neutral-200" />
    <h2 class="tags-title">Etiquetas</h2>
    <app-tags
      [tags]="tags() || []"
      [selectedTag]="selectedTag"
      (taggedNotesOutput)="selectedTag = $event; taggedNotesOutput.emit($event)"
    ></app-tags>
  </ul>
</div>
