@if (noteValue) {
<div class="content-wrapper">
  <app-page-header-control
    [note]="noteValue"
    (returnSidebarAllNotes)="returnSidebarAllNotes.emit()"
    (archiveNote)="archiveNote.emit($event)"
    (restoreNote)="restoreNote.emit($event)"
    (deleteNote)="deleteNote.emit($event)"
  ></app-page-header-control>
  <input class="note-title" [value]="textInputTitle" (input)="onTextInputTitle($event)" />
  <div class="tags-status-updated-at-wrapper">
    <div class="icon-title-value-wrapper">
      <div class="icon-title-wrapper">
        <img src="images/icon-tag.svg" alt="Icono de etiqueta" class="icon" />
        <p class="title">Etiquetas</p>
      </div>
      <input type="text" class="value" [value]="textInputTags" (input)="onTextInputTags($event)" />
    </div>

    @if (noteValue.status === 'archived') {
    <div class="icon-title-value-wrapper">
      <div class="icon-title-wrapper">
        <img src="images/icon-status.svg" alt="Icono de estado" class="icon" />
        <p class="title">Estado</p>
      </div>
      <p class="value">Archivado</p>
    </div>
    }

    <div class="icon-title-value-wrapper">
      <div class="icon-title-wrapper">
        <img src="images/icon-clock.svg" alt="Icono de reloj" class="icon" />
        <p class="title">Última vez editado</p>
      </div>
      <p class="value">{{ noteValue.updated_at | date : 'mediumDate' }}</p>
    </div>
  </div>
  <hr class="text-neutral-200" />
  <textarea class="content" [value]="textArea" (input)="onTextAreaInput($event)"></textarea>
  <hr class="text-neutral-200 hidden desktop:block" />
  <div class="buttons-wrapper">
    <button class="button primary-button" (click)="onSave()">Guardar nota</button>
    <button class="button secondary-button" (click)="onCancel()">Cancelar</button>
  </div>
</div>
}
